
{% extends "base.html" %}

{% block content %}
    <h2>Content for My App</h2>
    <p>Stuff etc etc.</p>

<H1>{{ u.longname }} Campaigns</H1>
<a href="{% url 'voucr.views.campaign_create' %}">Create Campaign</a><p>

<table class="table" >
<thead>
<tr>
	<th>Description</th>
	<th>URL Desc</th>
	<th>Count</th>
</tr>
</thead>
<tbody>
{% for campaign in c %}
<tr>
	<td><a href="{% url 'voucr.views.campaign_view' campaign.id %}" >{{ campaign.desc }}</a></td>
	<td>{{ campaign.desc_url }}</td>
	<td>{{ campaign.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
