{% extends "base.html" %}

{% block content %}
<H1>Login</H1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'voucr.views.login_page' %}">
{% csrf_token %}

    <div class="form-group">
        <label>{{ form.username.label_tag }}</label> {{ form.username }}
    </div>
    
    <div class="form-group">
        <label>{{ form.password.label_tag }}</label>{{ form.password }}
    </div>
    <button type="submit" value="login" class="btn btn-default">Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}

