<h1>Please update your company information</h1>

{% if form.errors %}
{{ form.non_field_errors }}
<p>Update unsuccessful</p>

{% endif %}

<form method="post" action="{% url 'voucr.views.user_create' %}">
{% csrf_token %}

{{ form.as_p }} 
<table>
<tr>
    <td>{{ form.longname.label_tag }}</td>
    <td>{{ form.longname }} {{ form.longname.errors }}</td>
</tr>

    
<tr>
    <td>{{ form.username_url.label_tag }}</td>
    <td>{{ form.username_url }} {{ form.username_url.errors }}</td>
</tr>

</table>

<input type="submit" value="Create!" />

</form>
